.chat-content {
    margin-top: 15px;
    display: flex;
    width: 100%;
    max-height: 78vh;
    gap: 15px;
}

.chat-active {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid var(--border-color);
    background: var(--light-color);
    border-radius: 20px;
}


/* new chat */
.new-chat-welcome {
    display: flex;
    align-items: center;
    gap: 10px;
}

.new-chat-welcome img {
    display: flex;
    width: 40px;
    height: fit-content;
}

.new-chat-welcome h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 2.7rem;
    font-weight: 400;
}




.chat-aside {
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 1px solid var(--border-color);
    background: var(--light-color);
    border-radius: 20px 5px 5px 20px;
    overflow-y: scroll;
}

.chat-aside::-webkit-scrollbar {
    width: 5px;
    background: var(--border-color);
    border-radius:  0px 20px 20px 0px;
}

.chat-aside::-webkit-scrollbar-thumb {
    background: #bdbab7;
    border-radius: 20px;
}

.chat-aside-header {
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 10px 15px;
    color: var(--dark-color);
    border-bottom: 1px solid var(--border-color);
    justify-content: space-between;
}

.chat-aside-header div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.chat-aside-header button {
    display: flex;
    border: none;
    padding: 3px;
    background: #f7f7f7;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition-2s);
    color: #2b2b2b;
}

.chat-aside-header div button:hover {
    background: #eaeaea;
    color: var(--black);
}

.chat-aside-header h1 {
    font-size: 0.85rem;
    font-weight: 400;
}

.chat-aside-grid {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.chat-card {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: space-between;
    cursor: pointer;
    color: #5d5d5d;
}

.chat-card:hover {
    background: #f7f7f7;
    color: var(--black);
}

.chat-card h1 {
    display: flex;
    width: 190px;
    white-space: nowrap;
    font-size: 0.8rem;
    font-weight: 400;
    overflow: hidden;
}

.chat-card:hover .chat-card-info {
    opacity: 1;
}

.chat-card-info {
    opacity: 0;
    display: flex;
    gap: 10px;
    transition: var(--transition-2s);
}

.chat-card-info button {
    display: flex;
    border: none;
    background: transparent;
    color: #696969;
    cursor: pointer;
}

.chat-card-info button:hover {
    color: var(--black);
}

.chat-card.active {
    color: var(--black);
    background: #f7f7f7;
}

.chat-aside-loading {
    padding: 5px 10px;
    font-size: 0.8rem;
    color: #4f4f4f;
}

.chat-nochats {
    margin-top: 20px;
    font-size: 0.8rem;
    text-align: center;
    color: #4f4f4f;
}