.home-main {
    display: flex;
}

.home-main .hr {
    margin: 20px 0;
    display: 100%;
    height: 1px;
    background: #ececec;
}

.home-content-scrool {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}

.home-content-scrool::-webkit-scrollbar {
    display: flex;
    width: 5px;
}

.home-content-scrool::-webkit-scrollbar-thumb {
    background: #dadada;
    cursor: pointer;
}

.home-content {
    display: flex;
    padding: 30px 40px;
    flex-direction: column;
    gap: 20px;
}

.home-content .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 165px;
    height: 170px;
    border-radius: 5px;
    overflow: hidden;
}

.home-content .img img {
    display: flex;
    width: 100%;
    height: fit-content;
}

.home-cta {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.home-cta h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 1.3rem;
}

.home-cta h2 {
    font-size: 0.8rem;
    font-weight: 400;
    color: #2e2e2e;
}

.home-cta a {
    margin-top: 30px;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 7px 15px;
    background: #000;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: 300;
    color: #f5f5f5;
    gap: 7px;
    transition: var(--transition-2s);
}

.home-cta a:hover {
    background: #3e3e3e;
}

.home-features {
    display: flex;
    flex-direction: column;
}

.home-features-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.home-features-header h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 1.3rem;
}

.home-features-header p {
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.4;
    max-width: 50%;
}

.home-features-grid {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.home-features-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 60px;
    padding: 10px;
    border: 1px solid #101010;
    border-radius: 3px;
    cursor: pointer;
    transition: var(--transition-2s);
}

.home-features-card:hover {
    background: #000;
}

.home-features-card:hover footer .icon {
    color: #ebebeb;
}

.home-features-card:hover footer a {
    color: #c2c2c2;
}

.home-features-card:hover h1 {
    opacity: 0;
}

.home-features-card:hover h2 {
    opacity: 1;
}

.home-features-card h1 {
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    transition: all 0.4s ease-in;
}

.home-features-card h2 {
    opacity: 0;
    width: 92%;
    position: absolute;
    font-size: 0.75rem;
    font-weight: 200;
    color: #f5f5f5;
    transition: all 0.35s ease-in;
}

.home-features-card footer {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.home-features-card footer .icon {
    color: #646464;
}

.home-features-card footer a {
    display: flex;
    width: fit-content;
    height: fit-content;
    color: #000;
}


.home-news header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-news header h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 1.3rem;
}

.home-news header a {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    gap: 7px;
    color: #101010;
}

.home-news-grid {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.home-news-grid article {
    cursor: pointer;
}

.home-news-grid article h2 {
    font-size: 0.85rem;
    font-weight: 500;
}

.home-news-grid article h3 {
    margin-top: -2px;
    font-size: 0.8rem;
    font-weight: 400;
    color: #101010;
}

.home-news-grid article p {
    margin-top: 3px;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.3;
    color: #3e3e3e;
}

.home-news-grid article h4 {
    font-size: 0.65rem;
    margin-top: 5px;
    font-weight: 300;
    color: #545454;
}

.home-news-loading {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #3e3e3e;
}

.home-footer {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.home-footer p {
    font-family: "Libre Baskerville", serif;
    font-size: 0.7rem;
    font-weight: 300;
    color: #969696;
}