@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --link-color: #006efe;
  --light-color: #fff;
  --black: #000000;
  --dark-color: #151515;
  --gray-color: #969696;
  --gray-color-2: #606060;
  --gray-color-3: #b8b8b8;
  --background: #fff;
  --background-card: #080808;
  --border-color: #dbdbdb;
  --danger-color: #ae3939;
  --shadow: #ffffff0e;
  --border: 8px;
  --transition-2s: all 0.2s ease;
  --transition-3s: all 0.3s ease;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
  background: var(--background);
  overflow: hidden;
}

/* rgb */
.rgb-color {
  animation: rgb-color 10s infinite linear;
  transition: color 0.2s ease-in-out;
}


@keyframes rgb-color {
  0% {
    color: #93c5fd;
  }

  12% {
    color: #a5b4fc;
  }

  24% {
    color: #c4b5fd;
  }

  36% {
    color: #f0abfc;
  }

  48% {
    color: #fca5a5;
  }

  60% {
    color: #fdba74;
  }

  72% {
    color: #fef08a;
  }

  84% {
    color: #bbf7d0;
  }

  92% {
    color: #676b71;
  }

  100% {
    color: #93c5fd;
  }
}


/* content */
.content-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/* Header */
.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 53px;
  min-height: 53px;
  padding: 10px 20px;
  padding-left: 0;
  border-bottom: 1px solid var(--border-color);
  z-index: 5;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-left button {
  margin-left: -12.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 5px;
  border-radius: 2px;
  border: none;
  background: #eeeeee;
  color: #878787;
  transition: var(--transition-2s);
  cursor: pointer;
}

.header-left button:hover {
  color: #313131;
  background: #e9e9e9;
}

.header-left button .icon {
  transform: rotateZ(90deg);
}

.header-search {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 30px;
  gap: 5px;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  transition: var(--transition-2s);
}

.header-search:hover {
  border-color: #999999;
}

.header-search input {
  display: flex;
  border: none;
  outline: none;
  font-size: 0.75rem;
  font-weight: 300;
  color: #1e1e1e;
}

.header-search input::placeholder {
  color: var(--gray-color-3);
}

.header-search button {
  display: flex;
  border: none;
  background: transparent;
  color: var(--gray-color-3);
  cursor: pointer;
  transition: var(--transition-2s);
}

.header-search button:hover {
  color: #808080;
  background: transparent;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.header-right a {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.75rem;
  color: var(--gray-color-2);
  transition: var(--transition-2s);
}

.header-right a:hover {
  color: var(--black);
}


/* Aside */
.aside-main {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  width: 240px;
  height: 100vh;
  border-right: 1px solid var(--border-color);
  background: #f8f8f8;
  overflow-x: hidden;
  z-index: 5;
  transition: all 0.25s ease;
}

.aside-main.collapsed {
  width: 50px;
}

.aside-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 53px;
  padding: 15px;
  border-bottom: 1px solid var(--border-color);
  transition: var(--transition-2s);
}

.aside-header img {
  display: flex;
  width: 100px;
  filter: invert(1);
}

.aside-main.collapsed .aside-header {
  padding: 15px 13px;
}

.aside-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: hidden;
}

.aside-nav-scrool {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding-bottom: 100px;
}

.aside-nav-scrool::-webkit-scrollbar {
  display: flex;
  width: 5px;
}

.aside-nav-scrool::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 20px;
}

.aside-nav nav {
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

.aside-nav nav ul {
  display: flex;
  flex-direction: column;
}

.aside-nav nav ul a {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 0.75rem;
  font-weight: 400;
  gap: 16px;
  border-radius: 3px;
  color: var(--gray-color-2);
  white-space: nowrap;
  overflow: hidden;
  transition: var(--transition-2s);
}

.aside-nav nav ul a span {
  opacity: 1;
  transition: var(--transition-3s);
}

.aside-main.collapsed .aside-nav nav ul a {
  padding: 5px 6px;
}

.aside-main.collapsed .aside-nav nav ul a span {
  opacity: 0;
}

.aside-main.collapsed .aside-nav nav ul a svg {
  min-width: 15px;
  width: 15px;
  height: 15px;
}

.aside-nav nav ul a.active {
  background: #eeeeee;
  color: var(--black);
}

.aside-nav nav ul a:hover {
  background: #eaeaea;
  color: #1f1f1f;
}

.aside-nav-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid var(--border-color);
  cursor: pointer;
  transition: var(--transition-2s);
}

.aside-nav-profile:hover {
  background: #f3f3f3;
}

.aside-nav-profile.active {
  background: #f3f3f3;
}

.aside-nav-profile section {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #000;
  overflow: hidden;
}

.aside-nav-profile section img {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 3px;
}

.aside-nav-profile section div {
  opacity: 1;
  transition: var(--transition-2s);
}

.aside-main.collapsed .aside-nav-profile section div {
  opacity: 0;
}

.aside-nav-profile section div h1 {
  width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75rem;
  font-weight: 500;
}

.aside-nav-profile section div h2 {
  margin-top: -3px;
  width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.6rem;
  font-weight: 400;
  color: var(--gray-color);
}

.aside-nav-profile button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 3px;
  padding: 5px;
  color: #383838;
  background: transparent;
  transition: var(--transition-2s);
  cursor: pointer;
}

.aside-main.collapsed .aside-nav-profile button {
  display: none;
}

.aside-nav-profile button:hover {
  background: #eeeeee;
  color: var(--danger-color);
}

/* modal profile */
.modal-profile {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 220px;
  height: fit-content;
  bottom: 60px;
  left: 10px;
  background: #f3f3f3;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 5px;
}

.modal-profile p {
  margin-left: 10px;
  font-size: 0.7rem;
  font-weight: 400;
  color: #7c7c7c;
}

.modal-profile hr {
  margin: 5px 0;
  display: flex;
  border: none;
  border-bottom: 1px solid var(--border-color);
}

.modal-profile button {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 0.75rem;
  font-weight: 400;
  gap: 16px;
  border: none;
  border-radius: 3px;
  color: var(--gray-color-2);
  background: transparent;
  transition: var(--transition-2s);
  cursor: pointer;
}

.modal-profile button:hover {
  background: #e8e8e8;
  color: #1f1f1f;
}

.modal-profile button:last-child:hover {
  color: #d13838;
}