.login-main {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/img/bg-login.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.login-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 2000px;
    padding: 50px 100px;
}

/* lado esquerdo */
.login-content-left {
    display: flex;
    flex-direction: column;
    color: var(--light-color);
    cursor: default;
}

.login-content-left img {
    display: flex;
    width: 210px;
}

.login-content-left p {
    margin-left: 2px;
    font-size: 0.95rem;
    font-weight: 200;
}

/* lado direito */
.wrapper-login {
    display: flex;
    flex-direction: column;
    width: 420px;
    padding: 30px;
    border-radius: 2px;
    background: #f5f5f5;
    cursor: default;
}

.wrapper-login h1 {
    font-size: 1.7rem;
    font-weight: 500;
}

.wrapper-login-google {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.wrapper-login-google button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 33px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    background: transparent;
    font-size: 0.85rem;
    color: #545454;
    gap: 7px;
    transition: var(--transition-2s);
    cursor: pointer;
}

.wrapper-login-google button:hover {
    background: #000;
    color: #eaeaea;
}

.wrapper-login-google button img {
    display: flex;
    width: 17px;
}

.wrapper-login-or {
    margin: 15px 0;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 0.8rem;
    gap: 10px;
    color: #b3b3b3;
}

.wrapper-login-or hr {
    display: flex;
    width: 100%;
    border: none;
    border-bottom: 1px solid #d9d9d9;
}

.wrapper-login h2 {
    font-size: 0.85rem;
    font-weight: 500;
    color: #3b3b3b;
}

.wrapper-login-input {
    display: flex;
    flex-direction: column;
}

.wrapper-login-input label {
    margin-top: 15px;
    font-size: 0.7rem;
    font-weight: 400;
    color: #767676;
}

.wrapper-login-input input {
    display: flex;
    font-family: "Inter", sans-serif;
    width: 100%;
    outline: none;
    border: none;
    background: none;
    font-size: 0.77rem;
    font-weight: 300;
}

.wrapper-login-input input::placeholder {
    color: #a5a5a5;
}

.wrapper-login-input input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #f5f5f5 inset !important;
}

.input-login {
    display: flex;
    width: 100%;
    height: 30px;
    padding: 0 5px;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
}

.input-login button {
    display: flex;
    padding: 0 5px;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #8a8a8a;
}

.wrapper-login h3 {
    margin-top: 15px;
    font-size: 0.75rem;
    font-weight: 400;
    color: #767676;
}

.wrapper-login h3 a {
    text-decoration: underline;
    color: var(--link-color);
}

.wrapper-login h3 a:hover {
    color: #0053c0;
}


.wrapper-login-submit {
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.wrapper-login-submit button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    height: 30px;
    border: none;
    border-radius: 2px;
    background: #000;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--light-color);
    cursor: pointer;
    transition: var(--transition-2s);
}

.wrapper-login-submit button:hover {
    background: #969696;
}

.login-error {
    margin-top: 3px;
    position: absolute;
    justify-content: center;
    color: #ef3939;
    font-size: 0.75rem;
}

@media (width < 720px) {
    .login-content {
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        padding: 0px;
    }

    /* lado direito */

    .login-content-right {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .wrapper-login {
        width: 85%;
        padding: 30px;
        border-radius: 5px;
    }

    .wrapper-login-google button {
        width: 38px;
        height: 38px;
        padding: 8px;
    }
}